
@{
}
<div class="bg-light border-top p-3">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="lead text-center">
					<i class="fa-solid fa-store text-secondary display-6"></i>
					<br />
					<bold>Store</bold> App
				</div>
				<div class="text-muted text-center">
					Store App 
				</div>
			</div>
			<div class="col-md-8">
				<div class="text-center text-muted my-3">
					&copy; 2023 <br /> StoreApp
				</div>
				<div class="text-center">
					<div class="btn-group">
						<a href="https://tr-tr.facebook.com" class="btn btn-secondary">
							<i class="fa-brands fa-facebook"></i>
						</a>
						<a href="https://twitter.com/?lang=tr" class="btn btn-secondary">
							<i class="fa-brands fa-twitter"></i>
						</a>
						<a href="https://tr.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F" class="btn btn-secondary">
							<i class="fa-brands fa-linkedin"></i>
						</a>
						<a href="https://www.youtube.com" class="btn btn-secondary">
							<i class="fa-brands fa-youtube"></i>
						</a>
						<a href="https://www.instagram.com" class="btn btn-secondary">
							<i class="fa-brands fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div products="" number="6"></div>
			</div>
		</div>
	</div>
</div>
